<div class="row">
   <div class="auth-hero">
      <div class="logo">Qompass</div>
      <div class="content">
         <h1>Welcome Back</h1>
         <p>Keep track of your online business</p>
         <p>Login your account</p>
      </div>
      <i class="material-icons">chevron_right</i>
   </div>
   <div class="call-to-action">
      <h1>Login</h1>
      <p>Don't have an account? <a routerLink="/register">Register with us</a></p>
      <form>
         <div class="form-control">
            <i class="material-icons">mail_outline</i>
            <input type="text" placeholder="Email">
         </div>
         <div class="form-control">
            <i class="material-icons">lock_outline</i>
            <input type="text" placeholder="Password">
         </div>
         <p>or login with</p>
         <div class="social">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-google"></i>
         </div>
         <button>Login</button>
      </form>
   </div>
</div>